VITE_FIREBASE_API_KEY=AIzaSyDmScXPt7-BPuW2Jvq_ep1s5-Dh2hBeWEA
VITE_FIREBASE_AUTH_DOMAIN=nora-dev-ea18d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nora-dev-ea18d
VITE_FIREBASE_STORAGE_BUCKET=nora-dev-ea18d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=661654756419
VITE_FIREBASE_APP_ID=1:661654756419:web:3c8affb9ae38b30e36c8f6
VITE_FIREBASE_MEASUREMENT_ID=G-V0X8Z7B0XZ

VITE_RECAPTCHA_SITE_KEY=6Lfz9IwsAAAAAHASL5Ni8jOnvT3d

# ─── PromptPay (Slip Fallback) ───────────────────────────────
VITE_PROMPTPAY_ID=0948701182

# ─── Omise Payment Gateway ───────────────────────────────────
# Get public key from https://dashboard.omise.co/test/api-keys
VITE_OMISE_PUBLIC_KEY=pkey_test_6776nsfkj8ukaonuja0
